<a href="https://colab.research.google.com/github/AndreMoura88/Desafios_e_exercicios/blob/main/Desafios_Olist/EDA_Olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA para o dataset Olist

Baseado no dataset da Olist foi pedido para fazer um modelo para prever quais usuários têm maior probabilidade de fazer uma segunda compra em até 30 dias após a realização da primeira.

Para este problemas precisamos análisar o conjunto de datasets disponíveis e procurar clientes que fizeram mais de uma compra, sendo que a segunda tenha sido em um intervalo menor que 30 dias.

Para este problema usaremos o polars, apenas por critério de aprendizado.

In [1]:
# Instalando Polars no ambiente
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.16.9)
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from polars) (4.5.0)

In [2]:
#importando o pacote para o ambiente
import polars as pl

In [3]:
# importando os arquivos .csv que serão usados na análise, depois de uma análise prévia dos dados presentes nos datasets disponibilizados

df_custumers = pl.read_csv(file = "/content/drive/MyDrive/Colab_Notebooks/Olist/Datasets/raw_datasets/olist_customers_dataset.csv")
df_order_dataset = pl.read_csv(file = '/content/drive/MyDrive/Colab_Notebooks/Olist/Datasets/raw_datasets/olist_orders_dataset.csv', parse_dates=True)

In [4]:
# conhecendo um dos datasets
print(df_order_dataset.shape)
df_order_dataset.head()

(99441, 8)

shape: (5, 8)
┌────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┐
│ order_ ┆ customer_ ┆ order_stat ┆ order_purc ┆ order_appr ┆ order_deli ┆ order_deli ┆ order_esti │
│ id     ┆ id        ┆ us         ┆ hase_times ┆ oved_at    ┆ vered_carr ┆ vered_cust ┆ mated_deli │
│ ---    ┆ ---       ┆ ---        ┆ tamp       ┆ ---        ┆ ier_date   ┆ omer_date  ┆ very_date  │
│ str    ┆ str       ┆ str        ┆ ---        ┆ datetime[μ ┆ ---        ┆ ---        ┆ ---        │
│        ┆           ┆            ┆ datetime[μ ┆ s]         ┆ datetime[μ ┆ datetime[μ ┆ datetime[μ │
│        ┆           ┆            ┆ s]         ┆            ┆ s]         ┆ s]         ┆ s]         │
╞════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╡
│ e481f5 ┆ 9ef432eb6 ┆ delivered  ┆ 2017-10-02 ┆ 2017-10-02 ┆ 2017-10-04 ┆ 2017-10-10 ┆ 2017-10-18 │
│ 1cbdc5 ┆ 251297304 ┆            ┆ 10:56:33   ┆ 11:07:15   ┆ 19:55:00   ┆ 21:25:13   ┆ 00:00:00   │
│ 4678b7 ┆ e76186b10 ┆            ┆            ┆            ┆            ┆            ┆            │
│ cc4913 ┆ a928d     ┆            ┆            ┆            ┆            ┆            ┆            │
│ 6f2d6a ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ f7     ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ 53cdb2 ┆ b0830fb47 ┆ delivered  ┆ 2018-07-24 ┆ 2018-07-26 ┆ 2018-07-26 ┆ 2018-08-07 ┆ 2018-08-13 │
│ fc8bc7 ┆ 47a6c6d20 ┆            ┆ 20:41:37   ┆ 03:24:27   ┆ 14:31:00   ┆ 15:27:45   ┆ 00:00:00   │
│ dce0b6 ┆ dea0b8c80 ┆            ┆            ┆            ┆            ┆            ┆            │
│ 741e21 ┆ 2d7ef     ┆            ┆            ┆            ┆            ┆            ┆            │
│ 502734 ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ 51     ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ 47770e ┆ 41ce2a54c ┆ delivered  ┆ 2018-08-08 ┆ 2018-08-08 ┆ 2018-08-08 ┆ 2018-08-17 ┆ 2018-09-04 │
│ b9100c ┆ 0b03bf344 ┆            ┆ 08:38:49   ┆ 08:55:23   ┆ 13:50:00   ┆ 18:06:29   ┆ 00:00:00   │
│ 2d0c44 ┆ 3c3d931a3 ┆            ┆            ┆            ┆            ┆            ┆            │
│ 946d9c ┆ 67089     ┆            ┆            ┆            ┆            ┆            ┆            │
│ f07ec6 ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ 5d     ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ 949d5b ┆ f88197465 ┆ delivered  ┆ 2017-11-18 ┆ 2017-11-18 ┆ 2017-11-22 ┆ 2017-12-02 ┆ 2017-12-15 │
│ 44dbf5 ┆ ea7920adc ┆            ┆ 19:28:06   ┆ 19:45:59   ┆ 13:39:59   ┆ 00:28:42   ┆ 00:00:00   │
│ de918f ┆ dbec73753 ┆            ┆            ┆            ┆            ┆            ┆            │
│ e9c16f ┆ 64d82     ┆            ┆            ┆            ┆            ┆            ┆            │
│ 97b45f ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ 8a     ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ ad21c5 ┆ 8ab97904e ┆ delivered  ┆ 2018-02-13 ┆ 2018-02-13 ┆ 2018-02-14 ┆ 2018-02-16 ┆ 2018-02-26 │
│ 9c0840 ┆ 6daea8866 ┆            ┆ 21:18:39   ┆ 22:20:29   ┆ 19:46:34   ┆ 18:17:02   ┆ 00:00:00   │
│ e6cb83 ┆ dbdbc4fb7 ┆            ┆            ┆            ┆            ┆            ┆            │
│ a9ceb5 ┆ aad2c     ┆            ┆            ┆            ┆            ┆            ┆            │
│ 573f81 ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
│ 59     ┆           ┆            ┆            ┆            ┆            ┆            ┆            │
└────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┘

In [6]:
# Conhecendo o segundo dataset e verificando seu formato
print(df_custumers.shape)
df_custumers.head()

(99441, 5)

shape: (5, 5)
┌────────────────────┬────────────────────┬───────────────────┬───────────────────┬────────────────┐
│ customer_id        ┆ customer_unique_id ┆ customer_zip_code ┆ customer_city     ┆ customer_state │
│ ---                ┆ ---                ┆ _prefix           ┆ ---               ┆ ---            │
│ str                ┆ str                ┆ ---               ┆ str               ┆ str            │
│                    ┆                    ┆ i64               ┆                   ┆                │
╞════════════════════╪════════════════════╪═══════════════════╪═══════════════════╪════════════════╡
│ 06b8999e2fba1a1fbc ┆ 861eff4711a542e4b9 ┆ 14409             ┆ franca            ┆ SP             │
│ 88172c00ba8bc7     ┆ 3843c6dd7febb0     ┆                   ┆                   ┆                │
│ 18955e83d337fd6b2d ┆ 290c77bc529b7ac935 ┆ 9790              ┆ sao bernardo do   ┆ SP             │
│ ef6b18a428ac77     ┆ b93aa66c333dc3     ┆                   ┆ campo             ┆                │
│ 4e7b3e00288586ebd0 ┆ 060e732b5b29e8181a ┆ 1151              ┆ sao paulo         ┆ SP             │
│ 8712fdd0374a03     ┆ 18229c7b0b2b5e     ┆                   ┆                   ┆                │
│ b2b6027bc5c5109e52 ┆ 259dac757896d24d77 ┆ 8775              ┆ mogi das cruzes   ┆ SP             │
│ 9d4dc6358b12c3     ┆ 02b9acbbff3f3c     ┆                   ┆                   ┆                │
│ 4f2d8ab171c80ec836 ┆ 345ecd01c38d18a903 ┆ 13056             ┆ campinas          ┆ SP             │
│ 4f7c12e35b23ad     ┆ 6ed96c73b8d066     ┆                   ┆                   ┆                │
└────────────────────┴────────────────────┴───────────────────┴───────────────────┴────────────────┘

In [7]:
#unindo as tabelas com datas de compras e id unicos dos clientes, usando um join left
df_unique_id_date = df_order_dataset[['order_id', 'customer_id', 'order_purchase_timestamp']].join(df_custumers[['customer_id', 'customer_unique_id']], on="customer_id", how="left")
df_unique_id_date.head()

shape: (5, 4)
┌────────────────────────┬────────────────────────┬────────────────────────┬───────────────────────┐
│ order_id               ┆ customer_id            ┆ order_purchase_timesta ┆ customer_unique_id    │
│ ---                    ┆ ---                    ┆ mp                     ┆ ---                   │
│ str                    ┆ str                    ┆ ---                    ┆ str                   │
│                        ┆                        ┆ datetime[μs]           ┆                       │
╞════════════════════════╪════════════════════════╪════════════════════════╪═══════════════════════╡
│ e481f51cbdc54678b7cc49 ┆ 9ef432eb6251297304e761 ┆ 2017-10-02 10:56:33    ┆ 7c396fd4830fd04220f75 │
│ 136f2d6af7             ┆ 86b10a928d             ┆                        ┆ 4e42b4e5bff           │
│ 53cdb2fc8bc7dce0b6741e ┆ b0830fb4747a6c6d20dea0 ┆ 2018-07-24 20:41:37    ┆ af07308b275d755c9edb3 │
│ 2150273451             ┆ b8c802d7ef             ┆                        ┆ 6a90c618231           │
│ 47770eb9100c2d0c44946d ┆ 41ce2a54c0b03bf3443c3d ┆ 2018-08-08 08:38:49    ┆ 3a653a41f6f9fc3d2a113 │
│ 9cf07ec65d             ┆ 931a367089             ┆                        ┆ cf8398680e8           │
│ 949d5b44dbf5de918fe9c1 ┆ f88197465ea7920adcdbec ┆ 2017-11-18 19:28:06    ┆ 7c142cf63193a1473d2e6 │
│ 6f97b45f8a             ┆ 7375364d82             ┆                        ┆ 6489a9ae977           │
│ ad21c59c0840e6cb83a9ce ┆ 8ab97904e6daea8866dbdb ┆ 2018-02-13 21:18:39    ┆ 72632f0f9dd73dfee390c │
│ b5573f8159             ┆ c4fb7aad2c             ┆                        ┆ 9b22eb56dd6           │
└────────────────────────┴────────────────────────┴────────────────────────┴───────────────────────┘

In [8]:
df_unique_id_date.shape

(99441, 4)

In [9]:
#agrupando as compras dos clientes que compraram mais de uma vez
df = df_unique_id_date.groupby('customer_unique_id').agg(pl.col('order_purchase_timestamp'))
df.shape

(96096, 2)

In [11]:
df.head()

shape: (5, 2)
┌──────────────────────────────────┬──────────────────────────┐
│ customer_unique_id               ┆ order_purchase_timestamp │
│ ---                              ┆ ---                      │
│ str                              ┆ list[datetime[μs]]       │
╞══════════════════════════════════╪══════════════════════════╡
│ 5d0af8873c37ff6cbd6b2a0713049122 ┆ [2017-07-22 10:18:02]    │
│ 573b27380c382b7fcfc8b059c0ff46c7 ┆ [2017-11-26 15:51:16]    │
│ be5265d8f173d7f8538dfb483e97e50c ┆ [2018-04-30 21:27:46]    │
│ e7fa761d4fde5efc653d4545160faa7b ┆ [2018-02-25 19:31:22]    │
│ cba28ba69420c0e8103b8757970a1f03 ┆ [2018-04-09 22:02:14]    │
└──────────────────────────────────┴──────────────────────────┘

In [12]:
# duration (difference) between 2 dates (in microseconds)
col = pl.col("order_purchase_timestamp")

diff = pl.duration(microseconds=(col.arr.get(0) - col.arr.get(1)))

In [13]:
# Filtrando somente clientes com mais de uma compra e criando a coluna com a feature 'target'
# Para executar alguma ação na coluna com base na condição, pode-se usar pl.when -> then -> caso contrário construa.
df_final = df.filter(col.arr.lengths() >= 2).with_columns(
    col.arr.sort(reverse=True).arr.slice(0, 2)
).with_columns(
    target = pl.when(diff <= pl.duration(days=30))\
                .then(1).otherwise(0)
)

In [14]:
# Exibindo o dataset com os requerimentos do problema
df_final

shape: (2997, 3)
┌──────────────────────────────────┬─────────────────────────────────────┬────────┐
│ customer_unique_id               ┆ order_purchase_timestamp            ┆ target │
│ ---                              ┆ ---                                 ┆ ---    │
│ str                              ┆ list[datetime[μs]]                  ┆ i32    │
╞══════════════════════════════════╪═════════════════════════════════════╪════════╡
│ aecd46028eea6a741edca67e93b326bb ┆ [2018-03-03 17:23:30, 2018-03-03... ┆ 1      │
│ 73daba56d88fe2ed55fd098a179646d0 ┆ [2017-11-25 14:04:11, 2017-11-25... ┆ 1      │
│ da8618694dda57a7eb9be2611e110f35 ┆ [2018-07-19 12:04:10, 2018-07-19... ┆ 1      │
│ ac3dcee918e6c96eb2ab467158143697 ┆ [2018-05-04 00:24:14, 2017-07-25... ┆ 0      │
│ ...                              ┆ ...                                 ┆ ...    │
│ 320e13a9e22b4e4cda8c17ed1c140ce0 ┆ [2017-12-05 22:17:41, 2017-11-28... ┆ 1      │
│ a48616b0798c3f1d5cae097c18180be8 ┆ [2018-02-27 22:18:18, 2018-02-27... ┆ 1      │
│ 4092bf290aa60e4f2d4a0dcc2f38c954 ┆ [2018-06-25 14:30:51, 2017-03-27... ┆ 0      │
│ 53100f780630b0755dcdec40f673abfb ┆ [2018-03-09 16:41:05, 2017-05-15... ┆ 0      │
└──────────────────────────────────┴─────────────────────────────────────┴────────┘